body {
    margin: 0;
    padding: 0;
    cursor: context-menu;
}

.slide {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;

}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}


.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}



section {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;

}


section .container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    max-width: 1200px;

}

section .container .contactinfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

section .container .contactinfo h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}

section .container .contactinfo .info {
    position: relative;
    margin: 20px 0;

}

section .container .contactinfo .info li {
    position: relative;
    list-style: none;
    display: flex;
    cursor: pointer;
    align-items: flex-start;
    margin: 40px 0;

}

section .container .contactinfo .info li span:nth-child(1) {

    width: 30px;
    min-width: 30px;
}

section .container .contactinfo .info li span:nth-child(1) svg {
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .container .contactinfo .info li span:nth-child(2) {

    color: #ffffff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}

section .container .contactinfo .info li:hover span:nth-child(1) svg,
section .container .contactinfo .info li:hover span:nth-child(2) {
    opacity: 1;
}

section .container .contactinfo .sci {
    position: relative;
    display: flex;
    opacity: 1;

}

section .container .contactinfo .sci li {
    list-style: none;
    margin-right: 15px;
}


section .container .contactinfo .sci li a svg {
    filter: invert(1);
    opacity: 0.5;
}

section .container .contactinfo .sci li:hover a svg {
    opacity: 1;
}

section .container .contactForm {
    position: absolute;
    padding-top: 35px;
    padding-right: 35px;
    background: #ffffff;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
}


section .container .contactForm .formBox {

    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
}

section .container .contactForm .formBox .inputBox {

    position: relative;
    margin: 0 0 35px 0;

}

section .container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

section .container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

section .container .contactForm .formBox .inputBox input, section .container .contactForm .formBox .inputBox textarea {
    width: 100% !important;

    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    border-bottom: 1px solid #777777;
    outline: none;
}

section .container .contactForm .formBox .inputBox textarea {
    min-height: 160px;
}

section .container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    transition: 0.5s;
    pointer-events: none;
}

section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2ecc71;
}


section .container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: #ffffff;
    border: none;
    max-width: 150px;
    padding: 12px;

}

section .container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #ff568c;
}

.reveal-1 {
    opacity: 0;
    transform: translate3d(0, -300px, 0);
    transition-delay: 2.5s;
}

.reveal-2 {
    opacity: 0;
    transform: translate3d(800px, 0, 0);
    transition-delay: 0.8s;
}

.reveal-visible {
    opacity: 1;
    transform: translateX(0);
    transition: 2s cubic-bezier(.5, 0, 0, 1);
}


.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    -ms-overflow-style: none;

}

::-webkit-scrollbar {
    display: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-y: hidden;
    -ms-overflow-style: none;

}

html, body, .wrapper, .outer-wrapper {
    scroll-behavior: smooth;
}

nav ul li {
    list-style: none;
    transition: all 0.4s;
    z-index: 15;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

#logo {
    border: 1px solid black;
    padding: 0 15px;
}



.main-nav {
    position: fixed;
    display: flex;
    padding: 2em;
    z-index: 12;
}

.main-nav .ul__second {
    position: fixed;
    display: flex;
    right: 4em;
}
.main-nav .ul__first {
    position: fixed;
    display: flex;

}


